
body {
  font-family: Trebuchet, Arial, sans-serif;
}

#slider {
  margin-left: 80px;
  margin-right: 50px;
  height: 0px;
  border-color: #000;
}
#play {
  float: left;
  width: 24px;
  height: 24px;
  margin: -10px 0 0 30px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 0;
}
#play .ui-icon {
  background-image: url(../node_modules/jquery-ui/themes/base/images/ui-icons_444444_256x240.png)
}
.subunit {
  transition: all 0.5s linear;
}
#showyear {
  float: right;
  border: none;
  font-size: 28px;
  width: 62px;;
}
#slider .ui-slider-handle {
  height: 15px;
  width: 2px;
  background: #000;
  border: none;
  margin: 0;
}
#slider .ui-slider-pip .ui-slider-label {
    display: none;
    background: rgba(67, 77, 90, 0);
    color: #434d5a;
    border-radius: 4px;
    padding: 0.3em 0;
    width: 2.4em;
    margin-left: -1.2em;
    transition: all 0.2s ease-out; }

#slider .ui-slider-handle.ui-slider-handle.ui-state-focus:after,
#slider .ui-slider-handle.ui-slider-handle.ui-state-hover:after,
#slider .ui-slider-handle.ui-slider-handle.ui-state-active:after {
  border-top-color: #00c7d7; }

#slider .ui-slider-pip:nth-of-type(5n+1) .ui-slider-label {
    top: 20px;
    display: block; }
.onoffswitch-container {
  margin: 15px 30px;
}
.onoffswitch {
    display: inline-block;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #000;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "KADIN";
    padding-left: 10px;
    color: #000;
}
.onoffswitch-inner:after {
    content: "ERKEK";
    padding-right: 10px;
    color: #000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #000;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.man {
  display: inline-block;
  height: 60px;
  width: 40px;
  background-image: url('man.png');
  background-size: 40px 60px;
}
.woman {
  visibility: hidden;
  display: inline-block;
  height: 60px;
  width: 40px;
  background-image: url('woman.png');
  background-size: 40px 60px;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}
.map-container {
  margin: 0 auto;
  display: block;
}
